

<style>
    .severityCards{
        display: flex;
        justify-content: space-between;
        margin: 0 0 20px 0;
    }

    .card{
        width: 19%;
        background-color: #f8f9fa;
        border: 1px solid #e9ecef;
        border-radius: 5px;
        padding: 20px 10px;
        box-shadow: 0 0 10px rgba(0,0,0,0.1);
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        border: 2px solid;
    }
    .card .count{
        font-size: 30px;
        font-weight: bold;
        margin: 0;
    }

    .card .header{
        font-size: 20px;
        margin: 0;
    }

    #critical{
        border-color: #dc3545;
    }

    #high{
        border-color: #fc8211;
    }

    #medium{
        border-color: #ffc107;
    }

    #low{
        border-color: #007bff;
    }

    #informational{
        border-color: #24b817;
    }




</style>



<div class="severityCards">
    <div class="card" id="critical">
        <p class="count"></p>
        <h3 class="header">Critical</h3>
    </div>
    <div class="card" id="high">
        <p class="count"></p>
        <h3 class="header">High</h3>
    </div>
    <div class="card" id="medium">
        <p class="count"></p>
        <h3 class="header">Medium</h3>
    </div>
    <div class="card" id="low">
        <p class="count"></p>
        <h3 class="header">Low</h3>
    </div>
    <div class="card" id="informational">
        <p class="count"></p>
        <h3 class="header">Informational</h3>
    </div>
</div>