aniso8601==1.3.0
annotated-types==0.6.0
antlr4-python3-runtime==4.13.1
antlr4-tools==0.2.1
anyio==4.3.0
asgiref==3.7.2
asttokens==2.2.1
async-timeout==4.0.2
Authlib==1.2.0
autopep8==2.0.1
backcall==0.2.0
bandit==1.7.8
bcrypt==4.1.1
beautifulsoup4==4.11.1
blinker==1.7.0
bs4==0.0.1
cachelib==0.10.2
capstone==5.0.1
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cli-helpers==2.3.0
click==8.1.7
colorama==0.4.6
colored-traceback==0.3.0
comm==0.1.2
configobj==5.0.8
cryptography==41.0.7
debugpy==1.6.6
decorator==5.1.1
delegator.py==0.1.1
dill==0.3.5.1
distlib==0.3.7
distro==1.9.0
Django==5.0
django-debug-toolbar==4.2.0
django-model-utils==4.3.1
django-passwords==0.3.12
djangorestframework==3.14.0
dnfile==0.14.1
dnspython==2.3.0
drf-yasg==1.21.7
exceptiongroup==1.2.1
executing==1.2.0
fakeredis==2.12.1
filelock==3.13.1
Flask==3.0.0
Flask-Bcrypt==1.0.1
Flask-Ext==0.1
Flask-JWT-Extended==4.5.3
Flask-Login==0.6.3
Flask-Mail==0.9.1
Flask-OAuthlib==0.9.6
Flask-PageDown==0.2.2
Flask-RESTful==0.3.6
Flask-SQLAlchemy==3.1.1
Flask-WTF==1.2.1
frida==16.1.10
frida-tools==12.3.0
getmac==0.9.4
greenlet==3.0.2
gunicorn==20.1.0
h11==0.14.0
httpcore==1.0.5
httpx==0.27.0
idna==3.6
inflection==0.5.1
install-jdk==1.1.0
intervaltree==3.1.0
ipykernel==6.21.2
ipython==8.10.0
itsdangerous==2.1.2
jdb==1.0
jedi==0.18.2
Jinja2==3.1.2
jupyter_client==8.0.3
jupyter_core==5.2.0
litecli==1.10.0
Mako==1.3.0
malduck==4.3.2
Markdown==2.6.9
markdown-it-py==3.0.0
MarkupSafe==2.1.3
matplotlib-inline==0.1.6
mdurl==0.1.2
mongomock==4.1.2
mpmath==1.2.1
Naked==0.1.31
nest-asyncio==1.5.6
ntlm-auth==1.5.0
numpy==1.23.3
oauthlib==2.1.0
objection==1.11.0
openai==1.25.1
packaging==23.0
paramiko==3.3.1
parso==0.8.3
pbr==5.10.0
pefile==2023.2.7
pexpect==4.9.0
pickleshare==0.7.5
Pillow==10.1.0
platformdirs==3.11.0
plumbum==1.8.2
ply==3.11
prompt-toolkit==3.0.43
psutil==5.9.2
ptyprocess==0.7.0
pure-eval==0.2.2
pwn==1.0
pwntools==4.11.1
pycodestyle==2.10.0
pycparser==2.21
pycryptodome==3.19.0
pycryptodomex==3.19.0
pydantic==2.7.1
pydantic_core==2.18.2
pyelftools==0.30
Pygments==2.17.2
PyJWT==2.8.0
pymongo==4.3.3
PyMySQL==1.1.0
PyNaCl==1.5.0
pyOpenSSL==23.3.0
pyserial==3.5
PySocks==1.7.1
python-dateutil==2.6.1
python-dotenv==0.21.0
python-oauth2==1.1.1
pytz==2020.1
pywin32==305
PyYAML==6.0
pyzmq==25.0.0
qiskit==0.38.0
qiskit-aer==0.11.0
qiskit-ibmq-provider==0.19.2
qiskit-terra==0.21.2
redis==4.5.5
regex==2023.5.5
requests==2.31.0
requests-ntlm==1.1.0
requests-oauthlib==1.1.0
retworkx==0.12.0
rich==13.7.1
ROPGadget==7.4
rpyc==5.3.1
rustworkx==0.12.0
scapy==2.4.5
scipy==1.9.1
semver==2.13.0
sentinels==1.0.0
shellescape==3.8.1
six==1.16.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.3.2.post1
SQLAlchemy==2.0.23
sqlparse==0.4.4
stack-data==0.6.2
stevedore==4.0.0
sudo==1.0.0
sympy==1.11.1
tabulate==0.9.0
termcolor==2.1.1
tk==0.1.0
tomli==2.0.1
tornado==6.2
tqdm==4.66.4
traitlets==5.9.0
tree-sitter==0.21.0
tree-sitter-python==0.21.0
tweedledum==1.1.1
typeguard==4.1.5
typing_extensions==4.9.0
tzdata==2023.3
unicorn==2.0.1.post1
uritemplate==4.1.1
urllib3==2.1.0
virtualenv==20.24.6
waitress==2.1.2
wcwidth==0.2.12
websocket-client==1.4.1
websockets==10.3
Werkzeug==3.0.1
whitenoise==4.1.4
WTForms==3.1.1
yara-python==4.3.1
