{% extends 'layouts/template.html' %}

{% block content %}
<h1 class="h1">Project Title: <span style="font-weight:normal;">{{projectName}}</span></h1>
<hr><br>

<h2 class="h2">Vulnerable Dependencies Summary:</h2>


<div class="totalsBar" id="totalsBar">
    {% if scanOutput['Requirements']|length > 0 or scanOutput['Missing Versions']|length > 0 %}
    <span class="totalsSection" title="Requirements.txt" >
        {{scanOutput['Requirements']|length + scanOutput['Missing Versions']|length}}
    </span>
    {% endif %}

    {% for file in scanOutput['Imports'] %}
    <span class="totalsSection" title="{{file}}">
        {{scanOutput['Imports'][file]|length}}
    </span>
    {% endfor %}
</div>

<br><hr><br>

<h2 class="h2">Vulnerable Dependencies Details:</h2>


<div class="vulnLibs-Container">
    {% if scanOutput['Requirements']|length > 0 or scanOutput['Missing Versions']|length > 0 %}
    <div id="RequirementsSection" class="file-Container">
        <div class="fileName">Requirements.txt</div>
        {% for lib in scanOutput['Requirements'] %}
        <div class="vulnLib-section">
            <div class="field">
                <span class="title">Library Name: </span>
                <span class="name">{{lib}}</span>
            </div>
            <div class="field">
                <span class="title">CVE: </span>
                <span class="libCVE">{{scanOutput['Requirements'][lib]['cve']}}</span>
            </div>
            <div class="field" style="flex-direction: column;">
                <span class="title">Description: </span>
                <span class="libDescription">{{scanOutput['Requirements'][lib]['advisory']}}</span>
            </div>
            <div class="field">
                <span class="title">Vulnerable Versions Range: </span>
                <span class="libVulnRange">{{scanOutput['Requirements'][lib]['v']}}</span>
            </div>
            <div class="field">
                <span class="title">Current Version: </span>
                <span class="libVersion">{{scanOutput['Requirements'][lib]['Current Version']}}</span>
            </div>
            <div class="field">
                <span class="title">Recommendation: </span>
                <span class="libRecommendation">Update {{lib}} to latest version available.</span>
            </div>
        </div>
        {% endfor %}
        {% for lib in scanOutput['Missing Versions'] %}
        <div class="vulnLib-section">
            <div class="field">
                <span class="title">Library Name: </span>
                <span class="name">{{lib}}</span>
            </div>
            <div class="field" style="flex-direction: column;">
                <span class="title" >Description: </span>
                <span class="libDescription">The detected {{lib}} library has vulnerabilities in certain versions.</span>
            </div>
            <div class="field"> 
                <span class="title">Vulnerable Versions Range: </span>
                {% for version in scanOutput['Missing Versions'][lib][:-1] %}
                    <span class="libVulnRange">{{version}}</span>
                    <span class="libVulnRange">,</span>
                {% endfor %}
                    <span class="libVulnRange">{{scanOutput['Missing Versions'][lib][-1]}}</span>
            </div>
            <div class="field">
                <span class="title">Recommendation: </span>
                <span class="libRecommendation">Include library version in Requirements.txt. <br>Update {{lib}} to latest version available. </span>
            </div>

        </div>
        {% endfor %}
    </div>
    {% endif %}

    {% for file in scanOutput['Imports'] %}

    <div id="{{file.split(projectPath)[-1]}}" class="file-Container">
        <div class="fileName">{{file}}</div>
        {% for lib in scanOutput['Imports'][file] %}
        <div class="vulnLib-section">
            <div class="field">
                <span class="title">Library Name: </span>
                <span class="name">{{lib}}</span>
            </div>
            <div class="field" style="flex-direction: column;">
                <span class="title">Description: </span>
                <span class="libDescription">The detected {{lib}} library has vulnerabilities in certain versions.</span>
            </div>
            <div class="field">
                <span class="title">Vulnerable Versions Range: </span>
                {% for version in scanOutput['Imports'][file][lib][:-1] %}
                    <span class="libVulnRange">{{version}}</span>
                    <span class="libVulnRange">,</span>
                {% endfor %}
                <span class="libVulnRange">{{scanOutput['Imports'][file][lib][-1]}}</span>
            </div>
            <div class="field">
                <span class="title">Recommendation: </span>
                <span class="libRecommendation">Include library version in Requirements.txt. <br>Update {{lib}} to latest version available.</span>
            </div>
        </div>
        {% endfor %}
    </div>
    {% endfor %}

{% endblock %}